<!-- home.html -->

{% extends 'base.html' %}

{% block title %}Home | Sample Sphere{% endblock %}

{% block content %}
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class="row">
        <div class="col s12 m6">
          {% if user.is_authenticated %}
            <div class="card blue-grey darken-1 white-text">
              <div class="card-content">
                <span class="card-title">
                  {% comment %} Greeting based on the time of day {% endcomment %}
                  {% if current_hour < 12 %}
                    Good Morning,
                  {% elif current_hour < 18 %}
                    Good Afternoon,
                  {% else %}
                    Good Evening,
                  {% endif %}
                  {{ user.username }}!
                </span>
                <p>Welcome Back!.</p>
              </div>
            </div>

            <!-- Display user's collections with Actions section -->
            <div class="card">
              <div class="card-content">
                <span class="card-title">Your Collections</span>
                <p>Number of collections: {{ collection_list|length }}</p>
                <ul class="collection">
                  {% for collection in collection_list %}
                    <li class="collection-item">
                      <div class="row valign-wrapper">
                        <div class="col s8">
                          <a href="{% url 'collection_details' collection.id %}">
                            {{ collection.title }} - {{ collection.disease_term }}
                          </a>
                        </div>
                        
                        <div class="col s4 right-align">
                          <!-- Actions section -->
                          <div class="row">
                            <div class="col s6">
                              <!-- Update button -->
                              <a href="{% url 'update_collection' collection.id %}" class="waves-effect waves-light btn orange">Update</a>
                            </div>
                            <div class="col s6">
                              <!-- Delete button -->
                              <a href="{% url 'collection_delete' collection.id %}" class="waves-effect waves-light btn red">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <!-- Button to create a new collection -->
            <div class="card">
              <div class="card-content">
                <span class="card-title">Create a New Collection</span>
                <a href="{% url 'create_collection' %}" class="waves-effect waves-light btn">Create Collection</a>
              </div>
            </div>

          {% else %}
            <div class="card">
              <div class="card-content">
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}" class="waves-effect waves-light btn">Log In</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
